$color-primary: #2762ba;
$color-primary-dark: #739ecb;
$color-secondary: #8f4199;
$color-text: #002147;
$color-bg: #f9fafb;
$color-white: #fff;

$color-success: #10b981;
$color-error: #ef4444;
$color-warning: #f59e0b;

// $color-primary: #007878; // Indigo 500 (основной цвет кнопок и ссылок)
// $color-primary-dark: #8f4199; // Indigo 700
// $color-secondary: #6366f1; // Pink 500 (дополнительные CTA или акценты)

// $color-text: #1f2937; // Gray 800
// $color-subtle-text: #6b7280; // Gray 500
// $color-border: #e5e7eb; // Gray 200
// $color-bg: #f9fafb; // Gray 50
// $color-surface: #ffffff; // Основной фон блоков
// $color-white: #ffffff;

// $color-success: #22c55e; // Green 500
// $color-error: #ef4444; // Red 500
// $color-warning: #f59e0b; // Amber 500
